.content__info-container {
    display: flex;
    align-items: center;
}

.content__rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__star-container:not(first-child) {
    width: 1.9rem;
    margin-left: .6rem;
}

.content__watch-container {
    display: block;
    width: 2rem;
    margin-left: 2.8rem;
}

.content__watch-img {
    width: 100%;
}

.content__time {
    color: var(--text-color);
    margin-left: .5rem;
    font-size: 1.4rem;
}

.content__description-container {
    margin-left: 2.4rem;
}

.content__title {
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 4rem;
}

.content__paragraph {
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 2rem;
    margin-top: 1.6rem;
    font-weight: 400;
    font-size: 1.6rem;
}

.content__btn {
    color: var(--btn-text-color);
    background: var(--btn-color);
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 2.4rem;
    width: 28.6rem;
    height: 5.6rem;
    margin-top: 3.2rem;
    margin-left: 2.4rem;
}
    
.content__carousel-title {
    color: var(--text-color);
    margin-left: 2.4rem;
    margin-top: 5.6rem;
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 2.4rem;
}

.swiper {
    width: 30rem;
    height: 20rem;
}

.swiper-wrapper {
    width: 23.5rem;
    height: 20rem;
}

.swiper-slide {
    width: 23.5rem;
    height: 20rem;
    display: flex;
    margin-top: 3rem;
    margin-left: 2.4rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.swiper__title {
    align-self: flex-end;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 5rem;
}

.shang-chi {
    display: flex;
    background-image: url(../images/shang-chi.svg);
}

.spider-man {
    background-image: url(../images/spider-man.svg);
}

.loki {
    background-image: url(../images/loki.svg);
}

.social__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.1rem;
    margin-bottom: 5rem;
    gap: 5.6rem;
}

h1 {
    color: white;
    align-self: flex-end;
}